eventregistry
python-dotenv
hdbscan
pandas
langchain
openai<2
streamlit
redis
tiktoken
elasticsearch
newspaper3k
pymupdf
trafilatura
duckduckgo-search
transformers
tensorflow
regex
unidecode
beautifulsoup4
syllapy
networkx
matplotlib
spacy
textstat